node_modules/
__generated__/
coverage/
target/
dist/
storybook-static/
.turbo/

_*
!**/routes/**/_*
*.gen.*
*.tsbuildinfo
*.log

/app/
/data/

# nitrogql
*.d.graphql.ts
*.d.graphql.ts.map

vite.config.ts.timestamp-*.mjs
