{
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "overrides": [
    {
      "files": [
        "apps/client/*",
        "apps/client/src/{app,book,dev,lib,modal,note,store,theme,ui}/**",
        "apps/client/src/pages/{*,book/*}"
      ],
      "excludeFiles": ["apps/client/biome.json"],
      "options": { "tabWidth": 4 }
    }
  ]
}
