{
  "tabWidth": 4,
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "overrides": [
    {
      "files": [
        ".prettierrc",
        "biome.json",
        "**/routes/**/*",
        "**/entities/**/*",
        "**/features/**/*"
      ],
      "options": { "tabWidth": 2 }
    }
  ]
}
