{
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "overrides": [
    {
      "files": ["apps/client/src/{app,lib,note,store,theme,ui}/**"],
      "options": { "tabWidth": 4 }
    },
    {
      "files": [".vscode/*.json"],
      "options": { "parser": "jsonc" }
    }
  ]
}
