name: CI

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      turbo-hash: ${{ steps.turbo-hash.outputs.hash }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - id: turbo-hash
        run: |
          hash=$(npm run codegen -- --dry=json | sha256sum | cut -d ' ' -f 1)
          echo "hash=$hash" >> $GITHUB_OUTPUT

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules/.cache/turbo
            **/.turbo
          key: ${{ runner.os }}-turbo-${{ steps.turbo-hash.outputs.hash }}
          restore-keys: ${{ runner.os }}-turbo-

      - run: npm run codegen
  test:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules/.cache/turbo
            **/.turbo
          key: ${{ runner.os }}-turbo-${{ needs.prepare.outputs.turbo-hash }}
          fail-on-cache-miss: true

      - run: npm run coverage -- --output-logs=new-only

      - id: coverage_files
        run: |
          files=$(ls {apps,packages}/*/coverage/coverage-final.json | paste -sd ",")
          echo "files=$files" >> $GITHUB_OUTPUT

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ steps.coverage_files.outputs.files }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: apps/client/coverage/test-report.junit.xml
          report_type: test_results
  lint:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules/.cache/turbo
            **/.turbo
          key: ${{ runner.os }}-turbo-${{ needs.prepare.outputs.turbo-hash }}
          fail-on-cache-miss: true

      - run: npm run lint -- --output-logs=new-only
  chromatic:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules/.cache/turbo
            **/.turbo
          key: ${{ runner.os }}-turbo-${{ needs.prepare.outputs.turbo-hash }}
          fail-on-cache-miss: true

      - run: npm run codegen -- --output-logs=new-only

      - name: Run Chromatic on @acalyle/client
      # cspell:ignore chromaui
        uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13.3.4
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: apps/client
  build:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules/.cache/turbo
            **/.turbo
          key: ${{ runner.os }}-turbo-${{ needs.prepare.outputs.turbo-hash }}
          fail-on-cache-miss: true

      - run: npm run codegen -- --output-logs=new-only

      - run: pnpm build
        working-directory: apps/client
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
